<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><%= @blog.title %></h1>

                <!-- Comments Form -->
                <div class="well">
                    <h4>回應文章:</h4>
                    <%= simple_form_for [@blog,@comment] do |f| %>
                        <div class="form-group">
                          <%= f.input :content, input_html: { class: "form-control"} %>
                        </div>
                        <div class="form-actions">
                          <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
                        </div>
                    <% end %>
                </div>
                <hr>
                <!-- Posted Comments -->
                </div>

            <%= render 'blogs/sidebar' %>

        </div>
        <!-- /.row -->
</div>